<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <!-- ADD THIS PERMISSION -->
    <!-- for Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <!-- fallback for older devices -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="smart_bin"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <meta-data
          android:name="com.mapbox.token"
          android:value="pk.eyJ1Ijoid2FsdWJlam9yZGFuIiwiYSI6ImNtaWlkbWp5MTA1eDUzZ3NjYnBtZzNnMGEifQ.o312e78lTflcogtWNiMD3g" />


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>
